@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 
}

body{
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
}

.app{
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/******************************
        HEADER PHOTO
*******************************/
.header{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  margin-bottom: 1.5rem;
}

.header__photo{
  width: 150px;
  height: 150px;
  margin-top: 1rem;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
}

/***************************
        TotalMoney
***************************/
.totalMoney{
  background-color: green;
  width: 100%;
  text-align: center;
  background-color: #3EECAC;
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.totalMoney__money{
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

/**************************
          Items
**************************/
.item__container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.item__content{
  width: 300px;
  height: 250px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;

}

.item__content img{
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.item__title{
  font-size: 1.2rem;
}

.item__footer{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn{
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  height: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

.btn__buy{
  background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);
  color: #fff;
}

.input__piece{
  width: 100px;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
}

/********************************
        Receipt Component
*********************************/
.receipt{
  width: 400px;
}

.receipt__title{
  text-align: center;
}

.receipt__item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}